<% provide(:title, "Google maps") %>
<p id="notice"><%= notice %></p>

<h1>Listing Markers on Google Map</h1>

<script>
var map;
function initialize() {
  var mapOptions = {
    zoom: 7,
    center: new google.maps.LatLng(35.950000, 128.250000)
  };
  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);

  <%= render @googles %>
}

google.maps.event.addDomListener(window, 'load', initialize);

initialize()
</script>

<div id="map-canvas"></div>

<table class="table table-striped center">
  <thead>
    <tr>
      <th>Latlng</th>
      <% if user_signed_in? %>
        <th colspan="2"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @googles.each do |google| %>
      <tr>
        <td><%= link_to google.latlng, google %></td>
        <% if user_signed_in? %>
          <td><%= link_to 'Edit', edit_google_path(google), class: "btn btn-primary" %></td>
          <td><%= link_to 'Destroy', google, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if user_signed_in? %>
  <%= link_to 'New Marker', new_google_path, class: "btn btn-lg btn-primary" %>
<% end %>
