<p id="notice"><%= notice %></p>

<p>
  <strong>Latlng:</strong>
  <%= @google.latlng %>
</p>

<p>
  <strong>Content:</strong>
  <%= @google.content %>
</p>

<%= link_to 'Edit', edit_google_path(@google) %> |
<%= link_to 'Back', googles_path %>
