<% provide(:title, @google.latlng) %>
<h1><%= @google.latlng %></h1>

<p><strong>Address: </strong><%= @google.address %></p>

<p>
  <strong>Content:</strong>
</p>
<p>
  <%= @google.content.gsub(/\n/, '<br>').html_safe %>
</p>

<%= link_to 'Edit', edit_google_path(@google) %> |
<%= link_to 'Back', googles_path %>
